{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/operations.css' %}">
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<p><a href="?" class="button">Refresh</a></p>
<table class="ops-table">
  <thead><tr><th>Component</th><th>Status</th><th>Detail</th></tr></thead>
  <tbody>
    {% for component in components %}
    <tr>
      <td>{{ component.name }}</td>
      <td>{{ component.status }}</td>
      <td>{{ component.detail }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
